<div class="container">
<img class="mx-auto" src="/assets/img/burger.png">


<div class="row">
  <div class="col-4"></div>

<div class="col-4">
<h1 class="text-center">Eat-Da-Burger!</h1>
</div>

<div class="col-4"></div>
  </div>
 

<div class="row text-center">
  <div class="col-6">

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-6">
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devour=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="row text-center">
  <div class="col-12">
    <form class="create-form">
      <input type="text" class="m-2" id="burgerInput">
      <br>
      <button type="submit" id="submit">Submit</button>
    </form>
  </div>
</div>

    <p class="text-center">Enter a burger you want to eat and click the "Submit" button.</p>
 
</div>



